<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    /> -->
  </head>
  <body>
    <h1>Driver Test</h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <form id="driverForm">
            <select class="form-control" id="bookingStatus">
              <option value="confirmed">Confirmed</option>
            </select>
            <br />
            <input
              type="button"
              name="submit"
              value="Confirm"
              Booking”
              class="btn btn-danger"
            />
          </form>
        </div>
        <div class="col-xs-6"></div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"
      type="text/javascript"
    ></script>
    <script>
      var socket = io();
      socket.on("connect", () => {
        console.log(socket.id);
        var driverData = {
          socketId: socket.id,
          locationId: "5eeaf11978be3643fc22c5be",
        };

        $.ajax({
          type: "PUT",
          url: "/api/driver/driverLocationSocket/" + driverData.locationId,
          dataType: "json",
          data: driverData,
        }).done((res) => {
          if (res !== "") {
            console.log("success");
          } else {
            console.log("error" + res);
          }
        });
        //when emitted by user on random nearby driver
        var driverRequest = socket.id + "driverRequest";
        socket.on(driverRequest, (passengerData) => {
          if (passengerData) {
            // alert("you got a passenger");
            console.log("Passenger looking for a driver", passengerData);
            $(".btn").click((e) => {
              var isPending = $("#bookingStatus").val();
              console.log(isPending);
              var status = true;
              if (isPending === "confirmed") status = false;
              var dataToSend = {
                driverId: "5eeaf09078be3643fc22c5bc",
                id: passengerData._id,
                isPending: status,
              };
              $.ajax({
                type: "PUT",
                url: "/api/driver/carBooking/" + passengerData._id,
                dataType: "json",
                data: dataToSend,
              }).done((res) => {
                if (res !== "") {
                  console.log("success");
                } else {
                  console.log("error" + res);
                }
              });
            });
          }
        });
        socket.on("trackDriver", (location) => {
          var driverMovement = [
            {
              lat: 33.6271102,
              long: 73.0607377,
            },
            {
              lat: 33.6260602,
              long: 73.0607327,
            },
            {
              lat: 33.6251301,
              long: 73.0612798,
            },
            {
              lat: 33.6240921,
              long: 73.0612148,
            },
            {
              lat: 33.6228261,
              long: 73.0612308,
            },
            {
              lat: 33.6223261,
              long: 73.0613378,
            },
            {
              lat: 33.6216781,
              long: 73.0614398,
            },
            {
              lat: 33.6217321,
              long: 73.0625448,
            },
            {
              lat: 33.62193060000001,
              long: 73.0645363,
            },
          ];
          var index = 0;
          var interval = setInterval(function () {
            var movementObj = driverMovement[index++];
            if (index == driverMovement.length) {
              clearInterval(interval);
              console.log(index);
            }
            var driverCurrentLocation = {
              locationId: location._id,
              latitude: movementObj.lat,
              longitude: movementObj.long,
              socketId: socket.id,
            };
            $.ajax({
              type: "PUT",
              url: "/api/driver/driverLocationSocket/" + location._id,
              dataType: "json",
              data: driverCurrentLocation,
            }).done(function (response) {
              // Check for a successful (blank) response
              if (response !== "") {
                console.log("Driver Location updated ");
              } else {
                console.log("Error: " + response);
              }
            });
          }, 5000);
        });
      });
    </script>
  </body>
</html>
